.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ADD8E6; /* Fondo azul claro */
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f6d365, #fda085);
  }
  
  .heroContent {
    text-align: center;
    z-index: 10;
    color: white;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .ctaButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff;
    color: #fda085;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: #f6d365;
    color: white;
  }
  
  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  
  .services, .contact {
    padding: 4rem 2rem;
    text-align: center;
    width: 100%;
    background-color: #f8f9fa; /* Fondo claro para las secciones */
  }
  
  .servicesTitle, .contactTitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2c3e50;
  }
  
  .serviceGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .contactInfo {
    margin-bottom: 2rem;
  }
  
  .map {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
  }